@model ebooklist.Entieties.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average_rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average_rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Num_pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratings_count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratings_count)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ISBN13">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
