<link rel="stylesheet" href="~/css/details.css" />
@model ebooklist.Entities.Book

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h4>@Html.DisplayFor(model => model.Authors)</h4>
    <hr />
    <h6>Genres: @Html.DisplayFor(model => model.Categories)</h6>
    <hr />
    <section class="details_container">
        <div><img src="@Url.Content(Model.Thumbnail)" /></div>
        <div class="book_info_div">
            <p class="book_info">Rating: <strong>@Html.DisplayFor(model => model.Average_rating)</strong></p>
            <p class="book_info">Votes: <strong>@Html.DisplayFor(model => model.Ratings_count)</strong></p>
            <hr />
            <p class="book_info">Published: <strong>@Html.DisplayFor(model => model.Published_year)</strong></p>
            <p class="book_info">Pages: <strong>@Html.DisplayFor(model => model.Num_pages)</strong></p>
            <p class="book_info">IBSN10: <strong>@Html.DisplayFor(model => model.ISBN10)</strong></p>
        </div>
        <div class="grow1 scroller"><p>@Html.DisplayFor(model => model.Description)</p></div>
    </section>
</div>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ISBN13">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
