<link rel="stylesheet" href="~/css/book.css" />
@model PaginatedList<ebooklist.Entities.Book>

@{
    ViewData["Title"] = "Book Details";
}
<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<form>

    @if (Model != null && Model.Any())
        @foreach (var book in Model)
        {
            <section class="content">
                <div><img class="bookCover" src="@book.Thumbnail" /></div>
                <div class="book_container">
                    <div class="book_author_title">
                        <a class="details_link" href="@Url.Action("Details", "Book", new { id = book.ISBN13 })">
                            <p class="title">@book.Title</p>
                        </a>
                        <p class="author">@book.Authors</p>
                    </div>
                    <div class="book_details">Pages: @book.Num_pages | Published: @book.Published_year | Rating: @book.Average_rating</div>
                    <div class="book_description">@book.Description</div>
                </div>
            </section>
        }

</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>