@model PaginatedList<ebooklist.Entieties.Book>

@{
    ViewData["Title"] = "Book Details";
}
<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="Book">Create Book</button>
    <table>
        <thead>
            <tr>
                <th>Cover</th>
                <th>ISBN13</th>
                @*<th>ISBN10</th>*@
                <th>Title</th>
                @*<th>Subtitle</th>*@
                <th>Authors</th>
                @*<th>Categories</th>
                <th>Description</th>
                <th>Published_year</th>
                <th>Num_pages</th>
                <th>Average_rating</th>
                <th>Ratings_count</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var book in Model)
                {
                    <tr>
                        <td><img src="@book.Thumbnail"></td>
                        <td>@book.ISBN13</td>
                        @*<td>@book.ISBN10</td>*@
                        <td>@book.Title</td>
                        @*<td>@book.Subtitle</td>*@
                        <td>@book.Authors</td>
                        @*<td>@book.Categories</td>
                        <td>@book.Description</td>
                        <td>@book.Published_year</td>
                        <td>@book.Num_pages</td>
                        <td>@book.Average_rating</td>
                        <td>@book.Ratings_count</td>*@
                    <td>@Html.ActionLink("Details", "Details", new { id = book.ISBN13 }) </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>